{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body>
    <div class="wrapper--alert-alert">
        <div class="alert-content">
       {% if messages %}
            {% for msg in messages %}
            <div class="alert 
                {% if msg.tags == 'success' %} alert-success 
                {% elif msg.tags == 'error' %} alert-danger 
                {% else %} alert-info {% endif %}">
                <p>{{ msg }}</p>
            </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
    {% block content %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>